body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #eee;
    margin-left: 30px;
    margin-right: 30px;
}

span {
    font-weight: normal;
    font-size: 80%;
}

.lien {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
}

.hidden{
	margin-bottom: 10px;
	display: none;

}

#demande_formulaire{
	margin-bottom: 10px;
}

#message_ajout{
	background-color: #99ebff;
	height: 60px;
	opacity: 0.5;
	margin-bottom: 10px;
	display: none;
	padding-left: 6px;
	padding-top: 6px;
	color : blue;
	font-size: 22px;
}